body{
    background: #ccc;
    margin: auto;
    max-width: 900px;
}

.box_post{
    background: orange;
    padding: 20px;
    margin: 5px;

}

.foto_dev{
    width: 100%;
}


#title{
    color: orange;
    font-family: Verdana; 
    text-align: center; 
}


.subtitle {
    color: rgb(11, 11, 11);

}